@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = null;
}

<h2>
    Sorry, an error occurred while processing your request.
</h2>
@{
    var exception = Model.Exception;
    while (true)
    {
        var temp = exception;

        if (exception?.InnerException != null)
        {
            exception = temp.InnerException;
        }
        else
        {
            break;
        }
    }
    <p>Message: @exception.Message</p>
}

