<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IStockExchange"
           type="StockExchangeApi.IStockExchange, StockExchangeApi" />
      <typeAlias alias="IIdentityValidator"
           type="CommonSecurityApi.IIdentityValidator, CommonSecurityApi" />
      <typeAlias alias="StockExchange"
           type="StockExchangeSimulator.StockExchange, StockExchangeSimulator" />
      <typeAlias alias="TheSimplestIdentityValidator"
           type="CommonSecurity.TheSimplestIdentityValidator, CommonSecurity" />
    </typeAliases>
    <containers>
      <container>
        <types>
          <type type="IStockExchange" mapTo="StockExchange" />
          <type type="IIdentityValidator" mapTo="TheSimplestIdentityValidator" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>