@model IEnumerable<WebClientApplication.StockServiceReference.StockTickerSerializable>

<table id="stock-prices-table" class="table">
    <thead>
    <tr>
        <th>Stock name</th><th>Price</th>
    </tr>
    </thead>
    <tbody>
        <tr class="loading"><td colspan="5">loading...</td></tr>
    </tbody>
</table>
