@model IEnumerable<WebClientApplication.StockServiceReference.StockTickerSerializable>

<table id="stock-prices-table" class="table">
    <thead>
    <tr>
        <th>Stock name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var stocTicker in Model)
    {
        <tr>
            <td>@stocTicker.Name</td>
            <td>@stocTicker.Price</td>
        </tr>
    }
    </tbody>
</table>


